<?xml version="1.0"?>
<!--
/**
 * @author  Agence Dn'D <contact@dnd.fr>
 * @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link    https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amsociallogin>
            <bconnect>
                <enabled>1</enabled>
                <prod_mode>0</prod_mode>
                <redirect_page_base_url>https://bconnect-qualif.net/</redirect_page_base_url>
                <api_base_url>https://api.bconnect-qualif.net/</api_base_url>
                <redirect_page_base_url_prod>https://bconnect.net/</redirect_page_base_url_prod>
                <api_base_url_prod>https://api.bconnect.net/</api_base_url_prod>
                <authorize_endpoint>a/oauth2/authorize</authorize_endpoint>
                <challenge_method>S256</challenge_method>
                <access_token_endpoint>sso/v2/oauth2/bconnect/access_token</access_token_endpoint>
                <scope>{"_1753867042064_64":{"scope_value":"openid"},"_1753867063199_199":{"scope_value":"email"},"_1753867066933_933":{"scope_value":"given_name"},"_1753867070731_731":{"scope_value":"family_name"},"_1753867074239_239":{"scope_value":"name"}}</scope>
            </bconnect>
        </amsociallogin>
    </default>
</config>
