<?xml version="1.0"?>
<!--
/**
 * @author  Agence Dn'D <contact@dnd.fr>
 * @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link    https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\SocialLogin\Model\SocialList">
        <plugin name="bconnect_add_bconnect_to_amasty_social_list"
                type="Bconnect\Amsociallogin\Plugin\AddBConnectToAmastySocialList"/>
    </type>
    <type name="Amasty\SocialLogin\Model\SocialData">
        <plugin name="bconnect_add_hybrid_connect_bconnect_provider"
                type="Bconnect\Amsociallogin\Plugin\AddHybridConnectBConnectConfig"/>
        <plugin name="bconnect_remove_additional_param_from_call_back"
                type="Bconnect\Amsociallogin\Plugin\RemoveAdditionalParamFromCallBack"/>
    </type>
    <type name="Amasty\SocialLogin\Model\Login">
        <plugin name="bconnect_redirect_on_account_when_mobile_referer"
                type="Bconnect\Amsociallogin\Plugin\LoginRedirectWhenAppReferer"/>
    </type>
</config>
