<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author  Agence Dn'D <contact@dnd.fr>
 * @license https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link    https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amsociallogin">
            <group id="bconnect" translate="label comment" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>BConnect</label>
                <depends>
                    <field id="*/general/enabled">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable BConnect feature</comment>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                </field>
                <field id="prod_mode" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>In production ?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Is it prod mode ?</comment>
                </field>
                <field id="api_base_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Qualif - Base URL Access token</label>
                    <comment>API Base URL Access token - https://api.bconnect-qualif.net/</comment>
                </field>
                <field id="redirect_page_base_url" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Qualif - Redirect base URL</label>
                    <comment>Redirect page base URL when clicking on button - https://bconnect-qualif.net/</comment>
                </field>
                <field id="api_base_url_prod" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prod - Base URL Access token</label>
                    <comment>API Base URL Access token - https://api.bconnect.net/</comment>
                </field>
                <field id="redirect_page_base_url_prod" translate="label" type="text" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prod - Redirect base URL</label>
                    <comment>Redirect page base URL when clicking on button - https://bconnect.net/</comment>
                </field>
                <field id="authorize_endpoint" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authorize Endpoint</label>
                    <comment>API Authorize Endpoint (a/oauth2/authorize)</comment>
                </field>
                <field id="access_token_endpoint" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token Endpoint</label>
                    <comment>API Access Token Endpoint (sso/v2/oauth2/bconnect/access_token)</comment>
                </field>
                <field id="include_challenge" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include challenge in authorizathion request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default to No</comment>
                </field>
                <field id="challenge_method" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Challenge Method</label>
                    <depends>
                        <field id="include_challenge">1</field>
                    </depends>
                </field>
                <field id="scope" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scope</label>
                    <comment>API Scope (add multiple values) - (openid,email,given_name,family_name,name,postaladdress,phone)</comment>
                    <frontend_model>Bconnect\Amsociallogin\Block\Adminhtml\Form\Field\Scope</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <validate>validate-digits</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
